body {
    background-color: rgb(7, 0, 77);
    color: rgb(243, 223, 191);
    font-family: 'Times New Roman', Times, serif;
}

h1,
h3 {
    color: rgb(235, 138, 144);
}

h1 {
    font-size: 48px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 10px;
}

h3 {
    font-style: italic;
    font-size: 24px;
    margin: 10px;
    text-align: center;
}

p {
    font-size: 18px;
    margin: 10px;
    text-align: center;
}

a {
    color: rgb(243, 223, 191);
}

ul,
ol {
    background-color: rgb(235, 138, 144);
    padding: 8px 32px;
    margin: 10px;
    border-radius: 10px;
}

div {
    background-color: rgb(45, 130, 183);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    border: 5px solid rgb(235, 138, 144);
}